:host ::ng-deep .p-card {
  background-color: #f8fafc;
  border-radius: 1rem;
}
:host ::ng-deep .p-card-content {
  padding: 1.5rem;
}
:host ::ng-deep .p-inputtext,
:host ::ng-deep .p-inputtextarea {
  width: 100%;
}
:host ::ng-deep .p-button {
  min-width: 120px;
}