<div class="p-6 bg-white rounded-lg shadow-sm">
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-semibold text-gray-800">Lista de Usuarios</h2>
  </div>
  <p-card>
    <div class="flex items-center justify-between mb-4">
      <h2 class="text-xl font-semibold">Resumen de Organizaciones</h2>
    </div>
    <p-chart
      type="bar"
      [data]="orgData"
      [options]="chartOptions"
      step = 1
      height="200px"
    ></p-chart>
  </p-card>

  <p-table
    #dt
    [value]="orgs"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[10, 25, 50]"
    responsiveLayout="scroll"
    [resizableColumns]="true"
    [reorderableColumns]="true"
    styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr class="bg-gray-50">
        <th>Nombre</th>
        <th>Email</th>
        <th>Descripción</th>
        <th>Telefono</th>
        <th>Website</th>
        <th>Dirección</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-org>
      <tr>
        <td>{{ org.nombre }}</td>
        <td>{{ org.email }}</td>
        <td>{{ org.descripcion }}</td>
        <td>{{ org.telefono }}</td>
        <td>{{ org.website }}</td>
        <td>{{ org.direccion }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="empty">
      <tr>
        <td colspan="4" class="text-center text-gray-500">
          No hay organizaciones disponibles
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
