:host ::ng-deep .p-card {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 0;
}

:host ::ng-deep .p-card .p-card-content {
  padding: 0;
}

:host ::ng-deep .p-button {
  width: 100%;
  justify-content: center;
}

:host ::ng-deep .p-badge {
  font-size: 0.75rem; /* equivalent to text-xs */
}
