<div class="flex justify-center space-x-4 p-4">
  <!-- Panel lateral de eventos -->
  <div class="w-full sm:w-1/3 md:w-1/4 p-4 bg-white shadow-lg rounded-lg">
    <h3 class="text-2xl font-semibold text-gray-800 mb-4">Mis Eventos</h3>
    <p-table [value]="userEvents" class="p-datatable-sm">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-left text-lg font-medium text-gray-700">Nombre</th>
          <th class="text-left text-lg font-medium text-gray-700">Fecha</th>
          <th class="text-left text-lg font-medium text-gray-700">Horario</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-event>
        <tr (click)="goToEvent(event)" class="cursor-pointer hover:bg-indigo-100 transition-colors rounded-lg">
          <td class="p-2 text-gray-800">{{ event.nombre }}</td>
          <td class="p-2 text-gray-500">{{ event.fecha | date: 'dd/MM/yyyy' }}</td>
          <td class="p-2 text-gray-500">{{ formatTime(event.horario) }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- Calendario -->
  <div class="flex-1 p-4 max-w-4xl mx-auto">
    <full-calendar *ngIf="calendarVisible()" [options]="calendarOptions()"></full-calendar>
  </div>
</div>
